.send {
	box-shadow: 16px 14px 13px -3px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	padding:19px 28px;
	text-decoration:none;
	text-shadow:3px 3px 3px #3d768a;
}
.send:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.send:active {
	position:relative;
	top:1px;
}