.body {
    background-image: url(src\images\HomeBackground.jpg);
}

.columnaIzquierda{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-end;
}

.columnaDerecha {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columnas {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 50px;
}